fastapi
uvicorn[standard]
pydantic
python-multipart
requests
torch==2.5.0
torchvision==0.20.0
numpy
opencv-python
Pillow
pycocotools
matplotlib
onnxruntime
onnx
timm
git+https://github.com/SysCV/sam-hq.git
segment-anything-hq
--extra-index-url https://download.pytorch.org/whl/cu121
scikit-image